@*
    Admin Layout Sidebar
*@

<aside class="flex w-64 flex-col border-r border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark text-gray-800 dark:text-gray-200">
    <div class="flex h-full min-h-0 flex-col justify-between p-4">
        <div class="flex flex-col gap-4">
            <div class="flex items-center gap-3 px-3 py-2">
                <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-10" data-alt="Abstract blue geometric logo" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAWxxP9eHwc0SevhcYfSxOMvFt_DdXPE5FsJIC8lxouie584KHDvEucXGKI5d-52r-UmwG3FuyWTn3vqw_VDh--oK0-pOPXkFavCNkjZCrrJHI6i7j2F1ei5u6oSN8PSaddQtxtVayl4QOqDObcOBZ8iPaJtOcAUQoe-HzxPuwhiWtS7BUTWDz4MEUTaUeKNl5c7-_MpgXXqwnRB-fKB5h7mz1XM5lGbL3Nm9Mro8Y5BOcuMXMblIj76KlcT0nkvRXnMbV413zVLn0");'></div>
                <div class="flex flex-col">
                    <h1 class="text-gray-900 dark:text-white text-base font-bold leading-normal">Chick Chick</h1>
                    <p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal">Admin</p>
                </div>
            </div>
            <nav class="flex flex-col gap-2 pt-4">

                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/About/Index">
                    <span class="material-symbols-outlined">info</span>
                    <p class="text-sm font-medium leading-normal">Hakkımızda</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Admin/Index">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <p class="text-sm font-medium leading-normal">Admin Üyelikleri</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Banner/Index">
                    <span class="material-symbols-outlined">view_carousel</span>
                    <p class="text-sm font-medium leading-normal">Banner</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Booking/Index">
                    <span class="material-symbols-outlined">book_online</span>
                    <p class="text-sm font-medium leading-normal">Rezervasyon</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Category/Index">
                    <span class="material-symbols-outlined">category</span>
                    <p class="text-sm font-medium leading-normal">Kategoriler</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Chef/Index">
                    <span class="material-symbols-outlined">restaurant</span>
                    <p class="text-sm font-medium leading-normal">Şefler</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Contact/Index">
                    <span class="material-symbols-outlined">contacts</span>
                    <p class="text-sm font-medium leading-normal">İletişim</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Product/Index">
                    <span class="material-symbols-outlined">restaurant_menu</span>
                    <p class="text-sm font-medium leading-normal">Ürünler</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/SendMessage/Index">
                    <span class="material-symbols-outlined">inbox</span>
                    <p class="text-sm font-medium leading-normal">Gelen Kutusu</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Subscriber/Index">
                    <span class="material-symbols-outlined">subscriptions</span>
                    <p class="text-sm font-medium leading-normal">Abonelikler</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Admin/Testimonial/Index">
                    <span class="material-symbols-outlined">reviews</span>
                    <p class="text-sm font-medium leading-normal">Referanslar</p>
                </a>

                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Default/Index/">
                    <span class="material-symbols-outlined">logout</span>
                    <p class="text-sm font-medium leading-normal">Çıkış Yap</p>
                </a>
            </nav>
        </div>
    </div>
</aside>