@model List<ResultBannerDto>

<div class="banner-area banner-style-six navigation-circle bg-dark text-light overflow-hidden bg-dark bg-cover" style="background-image: url(/source/assets/img/shape/14.jpg);">
	<!-- Slider main container -->
	<div class="banner-fade swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			@foreach (var item in Model)
			{
				<!-- Single Item -->
				<div class="swiper-slide">
					<div class="container">
						<div class="content">
							<div class="row align-center">
								<div class="col-lg-6">
									<h4>Şehrin En İyisi</h4>
									<h2>@item.Title</h2>
									<p>
										@item.Description
									</p>
									<div class="button mt-40">
										<a class="btn btn-theme btn-md animation" href="shop.html">Sipariş Ver</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="thumb">
										<img src="@item.ImageUrl" alt="Image Not Found">
										<img src="~/source/assets/img/shape/26.png" alt="Image Not Found">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			<!-- End Single Item -->
			<!-- End Single Item -->

		</div>

		<!-- Navigation -->
		<div class="swiper-nav-left">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

	</div>
</div>