@model List<ResultTestimonialDto>
<div class="testimonial-style-one-area default-padding bg-gray bg-cover text-center" style="background-image: url(~/source/assets/img/shape/4.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="testimonial-style-one-carousel swiper">
					<div class="swiper-wrapper">
						@foreach (var item in Model)
						{
							<div class="swiper-slide">
								<div class="testimonial-style-one">
									<div class="item">
										<div class="content">

											<div class="tm-review mb-3">
												@for (int i = 0; i < item.Rate; i++)
												{
													<i class="fas fa-star"></i>
												}
											</div>
											<div class="provider">
												<h4 class="text-dark fw-bold mb-1">@item.FullName</h4>
											</div>

											<p class="mb-4">
												"@item.Comment"
											</p>

											<div class="tm-proivder-thumb mb-3">
												<img src="@item.ImageUrl" alt="_ReferansResmi">
											</div>

											<div class="provider">
												<span style="color: #718096; font-family: 'Georgia', serif; font-style: italic; font-size: 0.9rem;">
													@item.Title
												</span>
											</div>

										</div>
									</div>
								</div>
							</div>
						}
					</div>

				</div>
				<div class="testimonial-pagination" style="margin-top: -70px; position: relative; z-index: 10;">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>