<div class="video-bg-area text-center text-light video-bg-live bg-fixed" style="background-image: url(~/source/assets/img/banner/3.jpg);">
    <div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=hoiGV-N-2Gs',containment:'.video-bg-live', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:5, opacity:1, quality:'default'}"></div>
    <div class="video-bg-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 class="title split-text">We Always serve the vaping hot and delicious foods</h2>
                    <a class="btn btn-theme btn-md animation mt-30" href="#">Book a table</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Shape -->
    <div class="wavesshape">
        <img src="~/source/assets/img/shape/6.png" alt="Shape">
    </div>
    <!-- Shape -->
</div>