
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Layout.cshtml";
}


<!DOCTYPE html>
<html lang="tr">


<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>
    <!-- End Header -->
    <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url(/source/assets/img/shape/11.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Online Rezervasyon</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                        <li>Rezervasyon</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Start Reservation
    ============================================= -->
    <div class="reservation-style-one-area default-padding">
        <div class="container">
            <div class="reservation-style-one-items bg-dark text-light wow fadeInUp">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 reservation-thumb">
                        <img src="~/source/assets/img/thumb/3.jpg" alt="Restoran_Görsel  ">
                        <div class="icon">
                            <img src="~/source/assets/img/icon/1.png" alt="İcon_Tabak">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 reservation-info">
                        <h4 class="sub-heading">Rezervasyon İçin</h4>
                        <h2 class="title">Harika Yemekler</h2>
                        <form class="reservation-form" action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="phone">Telefon</label>
                                        <input class="form-control" id="phone" name="phone" placeholder="+4733378901" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="subject">Kişi Sayısı</label>
                                        <select id="subject">   
                                            <option value="1">1 Kişi</option>
                                            <option value="2">2 Kişi</option>
                                            <option value="4">3 Kişi</option>
                                            <option value="5">4 Kişi</option>
                                            <option value="6">5 Kişi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group date date-picker-one">
                                        <label for="date">Tarih</label>
                                        <input type="text" class="form-control" id="date" placeholder="Tarih">
                                        <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="time">Saat</label>
                                        <select id="time">
                                            <option value="1">10:00 AM</option>
                                            <option value="1">11:00 AM</option>
                                            <option value="1">12:00 AM</option>
                                            <option value="1">1:00 AM</option>
                                            <option value="1">2:00 AM</option>
                                            <option value="1">3:00 AM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">
                                        Rezervasyon Yap
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Reservation Area -->
    </body>
    </html>