@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Layout.cshtml";
}



<div class="radio-btn-light">
	<div class="radio-inner-light"></div>
</div>
<!-- End Header -->
<!-- Start Breadcrumb
============================================= -->
<div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url(/source/assets/img/shape/11.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1>Online Rezervasyon</h1>
				<ul class="breadcrumb">
					<li><a href="/Default/Index/"><i class="fas fa-home"></i> Ana Sayfa</a></li>
					<li>Rezervasyon</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumb -->
<!-- Start Reservation
============================================= -->
<div class="reservation-style-one-area default-padding">
	<div class="container">
		<div class="reservation-style-one-items bg-dark text-light wow fadeInUp">
			<div class="row">
				<div class="col-xl-6 col-lg-5 reservation-thumb">
					<img src="/image//restoranta_dışarıdan_bakış.jpg" alt="Restoran_Görsel  ">
					<div class="icon">
						<img src="~/source/assets/img/icon/1.png" alt="İcon_Tabak">
					</div>
				</div>
				<div class="col-xl-6 col-lg-7 reservation-info">
					<h4 class="sub-heading">Rezervasyon İçin</h4>
					<h2 class="title">Harika Yemekler</h2>
					<form asp-controller="Booking" asp-action="Booking" method="post" class="reservation-form">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="phone">Telefon</label>
									<input class="form-control" id="phone" name="Phone" placeholder="0555 555 55 55" type="text" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="subject">Kişi Sayısı</label>
									<select id="subject" name="PersonCount" class="form-control" required>
										<option value="1 Kişi">1 Kişi</option>
										<option value="2 Kişi">2 Kişi</option>
										<option value="3 Kişi">3 Kişi</option>
										<option value="4 Kişi">4 Kişi</option>
										<option value="5 Kişi">5 Kişi</option>
										<option value="6+ Kişi">6+ Kişi</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="date">Tarih</label>
									<input type="date" class="form-control" id="date" name="Date" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="time">Saat</label>
									<select id="time" name="Time" class="form-control" required>
										<option value="10:00">10:00</option>
										<option value="11:00">11:00</option>
										<option value="12:00">12:00</option>
										<option value="13:00">13:00</option>
										<option value="14:00">14:00</option>
										<option value="15:00">15:00</option>
										<option value="16:00">16:00</option>
										<option value="17:00">17:00</option>
										<option value="18:00">18:00</option>
										<option value="19:00">19:00</option>
										<option value="20:00">20:00</option>
										<option value="21:00">21:00</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mt-4">
								<button type="submit" class="btn btn-theme w-100">
									Rezervasyon Yap
								</button>
							</div>
						</div>
					</form>

					<div id="notification-data"
						 data-error="@TempData["BookingError"]"
						 data-success="@TempData["BookingSuccess"]"
						 style="display: none;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>