@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Banner Güncelleme</h1>
<br />
<br />

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Banner Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" placeholder="Maksimum 35 karakter..." required />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br>

    <label>Açıklama</label>
    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Banner alt metni (Maks. 250 karakter)..." required></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br>

    <label>Resim Linki (URL)</label>
    <input type="text" asp-for="ImageUrl" class="form-control" placeholder="https://..." required />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br>

    <button class="btn btn-dark">Banner'ı Kaydet</button>
</form>