<div class="choose-us-style-one-area default-padding-bottom bg-gray">
    <div class="container">
        <div class="choose-us-style-one-items">
            <div class="row align-center">
                <div class="col-xl-6 choose-us-style-one-info">
                    <h2 class="title split-text">Enjoy your favorite food to the fullest</h2>
                    <p class="split-text">
                        The first restaurant proprietor is believed to have been one A. Boulanger, a soup vendor, who opened his business in Paris in 1765. The sign above his door advertised restoratives, or restaurants, referring to the soups and broths available within.
                    </p>
                    <ul class="list-style-one">
                        <li>Bu yemek harika</li>
                        <li>The atmosphere is perfect</li>
                        <li>We offer something unique</li>
                    </ul>
                    <a class="btn btn-theme btn-md animation mt-30" href="food-menu.html">Book A Table</a>
                </div>
                <div class="col-xl-6 text-light choose-us-style-one-content">

                    <div class="choose-us-style-one-item bg-cover bg-theme" style="background-image: url(assets/img/shape/7.jpg);">
                        <div class="fun-fact-style-one text-center">
                            <div class="icon">
                                <img src="assets/img/icon/12.png" alt="Image Not Found">
                            </div>
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Menu and Dishes</span>
                        </div>
                    </div>

                    <div class="choose-us-style-one-item">
                        <div class="thumb">
                            <img src="assets/img/thumb/4.jpg" alt="Image Not Found">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="relative">
            <div class="shape">
                <img src="assets/img/shape/24.png" alt="Image Not Found">
            </div>
        </div>
    </div>
</div>