@using AkademiQMongoDb.ViewComponents.DefaultComponents
@model List<CategoryShowcaseModel>
<div class="food-cat-area default-padding bg-gray" style="background-image: url(/source/assets/img/shape/3.png);">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h4 class="sub-title">Yemek Kategorileri</h4>
					<h2 class="title split-text">Menümüzdeki Kategoriler</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Slider main container -->
				<div class="food-cat-carousel text-light swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Single Item -->
						@foreach (var item in Model)
						{
							<div class="swiper-slide">
								<div class="food-cat-item">
									<a href="/Menu/Index/" style="background-image: url(@item.ImageUrl);">
										<h4>@item.CategoryName</h4>
										<span>@item.ProductCount</span>
									</a>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>