@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="banner-area banner-style-six navigation-circle bg-dark text-light overflow-hidden bg-dark bg-cover" style="background-image: url(~/source/assets/img/shape/14.jpg);">
    <!-- Slider main container -->
    <div class="banner-fade swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>The best in town</h4>
                                <h2>Super deal Special lunch</h2>
                                <p>
                                    Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing know.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Order Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="~/source/assets/img/illustration/17.png" alt="Image Not Found">
                                    <img src="~/source/assets/img/shape/26.png" alt="Image Not Found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>The best in town</h4>
                                <h2>Super deal Special Dinner</h2>
                                <p>
                                    Plan upon yet way get cold spot its week. Almost do am or limits hearts. Resolve parties but why she shewing know.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Order Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="~/source/assets/img/illustration/8.png" alt="Image Not Found">
                                    <img src="~/source/assets/img/shape/26.png" alt="Image Not Found">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->

        </div>

        <!-- Navigation -->
        <div class="swiper-nav-left">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>