<div class="chef-style-one-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Professional Chef</h4>
                    <h2 class="title split-text">Mutfağımızın Krallarıyla Tanışın</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp">
                    <div class="thumb">
                        <img src="~/source/assets/img/team/1.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Alexander Petllo</a></h4>
                        <span>Assistant Chef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="100ms">
                    <div class="thumb">
                        <img src="~/source/assets/img/team/2.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Mendia Juxef</a></h4>
                        <span>Burger King</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="200ms">
                    <div class="thumb">
                        <img src="~/source/assets/img/team/3.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Petro William</a></h4>
                        <span>Main Chef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="300ms">
                    <div class="thumb">
                        <img src="~/source/assets/img/team/4.jpg" alt="Image Not Found">
                        <ul class="chef-one-social">
                            <li class="facebook">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Kunnel Jexos</a></h4>
                        <span>Pizza Master</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>