<div class="food-menu-style-two-area default-padding bg-cover" style="background-image: url(~/source/assets/img/shape/3.jpg);">
	<div class="container">
		<!-- Single Item -->
		<div class="food-menu-style-two">
			<div class="row align-center">
				<div class="col-lg-5">
					<div class="food-menu-style-two-thumb">
						<img class="wow fadeInDown" src="~/source/assets/img/menu/7.jpg" alt="Image Not Found">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="food-menu-style-two-content wow fadeInUp">
						<h4 class="sub-heading">Fast Food Items</h4>
						<ul class="meal-type">
							<li>Half</li>
							<li>Full</li>
						</ul>
						<ul class="meal-items">
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/1.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Chicken Alfredo</a></h4>
										</div>
										<div class="price">
											<span>$20</span>
											<span>$30</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Ricotta / goat cheese / beetroot
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/2.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Fish &amp; Chips</a></h4>
										</div>
										<div class="price">
											<span>$36</span>
											<span>$55</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Atlantic / chips / salad /tartare
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/3.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Ebony Fillet Steak</a></h4>
										</div>
										<div class="price">
											<span>$44</span>
											<span>$88</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Truffle mash / pepper sauce.
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/4.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Chicken Alfredo</a></h4>
										</div>
										<div class="price">
											<span>$20</span>
											<span>$30</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Ricotta / goat cheese / beetroot
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Item -->
		<!-- Single Item -->
		<div class="food-menu-style-two">
			<div class="row align-center">
				<div class="col-lg-5">
					<div class="food-menu-style-two-thumb">
						<img class="wow fadeInUp" src="~/source/assets/img/menu/8.jpg" alt="Image Not Found">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="food-menu-style-two-content wow fadeInDown">
						<h4 class="sub-heading">Dessert Items</h4>
						<ul class="meal-type">
							<li>Half</li>
							<li>Full</li>
						</ul>
						<ul class="meal-items">
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/5.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Cupcakes</a></h4>
										</div>
										<div class="price">
											<span>$10</span>
											<span>$20</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Ricotta / goat cheese / beetroot
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/6.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Brownies</a></h4>
										</div>
										<div class="price">
											<span>$16</span>
											<span>$34</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Atlantic / chips / salad /tartare
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/7.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Muffins</a></h4>
										</div>
										<div class="price">
											<span>$22</span>
											<span>$36</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Truffle mash / pepper sauce.
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="thumbnail">
									<img src="~/source/assets/img/food/8.jpg" alt="Image Not Found">
								</div>
								<div class="content">
									<div class="top">
										<div class="title">
											<h4><a href="shop-single.html">Cheesecakes</a></h4>
										</div>
										<div class="price">
											<span>$34</span>
											<span>$66</span>
										</div>
									</div>
									<div class="bottom">
										<div class="left">
											<p>
												Ricotta / goat cheese / beetroot
											</p>
										</div>
										<div class="right">
											<p>
												Extra Free Juice.
											</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Item -->
	</div>
</div>