@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelle</h1>
<br /><br />

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" required />
    <br>
    <button class="btn btn-dark">Güncelle</button>
</form>