@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni İletişim Bilgisi Oluştur</h1>
<br />
<br />

<form method="post">
    <label>Restoran Adresi</label>
    <input type="text" asp-for="Address" class="form-control" placeholder="Örn: İzmir/Bornova..." required />
    <span asp-validation-for="Address" class="text-danger"></span>
    <br>

    <label>Telefon Numarası</label>
    <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="05xx..." required />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    <br>

    <label>E-posta Adresi</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="chickchick@deneme.com" required />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br>

    <label>Google Harita Linki (iframe src)</label>
    <textarea asp-for="MapUrl" rows="3" class="form-control" placeholder="<iframe src='...'></iframe>" required></textarea>
    <span asp-validation-for="MapUrl" class="text-danger"></span>
    <small class="text-muted">Not: Buraya yapıştıracağınız iframe kodu içindeki çift tırnaklar sistem tarafından otomatik işlenecektir.</small>
    <br>

    <button class="btn btn-dark">İletişim Bilgilerini Kaydet</button>
</form>
