<div class="choose-us-style-one-area default-padding-bottom bg-gray">
	<div class="container">
		<div class="choose-us-style-one-items">
			<div class="row align-center">
				<div class="col-xl-6 choose-us-style-one-info">
					<h2 class="title split-text">En sevdiğiniz yemeklerin tadını doyasıya çıkarın</h2>
					<p class="split-text">
						Chick Chick, 2020 yılında lezzet yolculuğuna başladığında tek bir
						vizyonu vardı: Herkesin, özellikle de bütçesini düşünen öğrencilerin,
						ödediği her kuruşun karşılığını fazlasıyla aldığı, doyurucu ve kaliteli bir
						yemek deneyimi yaşaması. Sıradan bir fast food durağı olmanın ötesini hedefler.
					</p>
					<ul class="list-style-one">
						<li>Bu yemek harika</li>
						<li>Atmosfer mükemmel</li>
						<li>Eşsiz bir deneyim</li>
					</ul>
					<a class="btn btn-theme btn-md animation mt-30" href="/Booking/Index/">Rezervasyon</a>
				</div>
				<div class="col-xl-6 text-light choose-us-style-one-content">

					<div class="choose-us-style-one-item bg-cover bg-theme" style="background-image: url(/source/assets/img/shape/7.jpg);">
						<div class="fun-fact-style-one text-center">
							<div class="icon">
								<img src="~/source/assets/img/icon/12.png" alt="emoji_servis">
							</div>
							<div class="counter">
								<div class="timer" data-to="@ViewBag.ProductCount" data-speed="2000">@ViewBag.ProductCount</div>
								<div class="operator">+</div>
							</div>
							<span class="medium">Menü ve Yemekler</span>
						</div>
					</div>

					<div class="choose-us-style-one-item">
						<div class="thumb">
							<img src="~/image/restoranta_dışarıdan_bakış.jpg" alt="restoran_dışarıdan">

						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="relative">
			<div class="shape">
				<img src="~/source/assets/img/shape/24.png" alt="sebze_biber">
			</div>
		</div>
	</div>
</div>