@model ResultAboutDto
<div class="about-style-two-area default-padding">
	<div class="container">
		<div class="row align-center">
			<div class="col-lg-6">
				<div class="thumb-style-two wow fadeInUp">
					<img src="@Model.ImageUrl" alt="ChickChickLogo">
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="about-style-two-info">
					<h4 class="sub-heading">Hoşgeldiniz</h4>

					<h2 class="title split-text">@Model.Title</h2>
					<p class="split-text">
						@Model.Description
					</p>
					<a class="btn btn-theme btn-md animation" href="/Menu/Index/">Menüyü Keşfet</a>
					
				</div>
			</div>
		</div>
	</div>
</div>

@* <ul class="launch-time">
	<li class="wow fadeInUp">
		<h4>Lunch</h4>
		<ul>
			<li>Saturday and Sunday</li>
			<li>Reservations from 12pm to 1.30pm</li>
		</ul>
	</li>
	<li class="wow fadeInUp">
		<h4>Dinner</h4>
		<ul>
			<li>Thursday to Sunday</li>
			<li>Reservations from 6pm to 8.45pm</li>
		</ul>
	</li>
</ul> *@