
@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<!-- Start Breadcrumb
============================================= -->
<div class="breadcrumb-area bg-cover shadow dark text-center text-light" style="background-image: url(/source/assets/img/shape/11.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Hata Sayfası</h1>
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                    <li>404</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start 404
============================================= -->
<div class="error-page-area default-padding text-center bg-cover">
    <!-- Shape -->
    <div class="shape-left" style="background: url(/source/assets/img/shape/44-left.png);"></div>
    <div class="shape-right" style="background: url(/source/assets/img/shape/44-right.png);"></div>
    <!-- End Shape -->
    <div class="container">
        <div class="error-box">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>404</h1>
                    <h2>Oops! Aradığınız lezzet burada yok.</h2>
                    <p>
                        Görünüşe göre Chick Chick menüsünde olmayan bir sayfaya saptınız. Belki de bu tarif henüz mutfağımızda hazırlanıyordur! Lütfen ana sayfaya dönerek taze ve çıtır lezzetlerimizi keşfetmeye devam edin.
                    </p>
                    <a class="btn mt-20 btn-md btn-theme" href="/Default/Index/">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End 404 -->
