<div class="testimonial-style-one-area default-padding bg-gray bg-cover text-center" style="background-image: url(~/source/assets/img/shape/4.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="testimonial-style-one-carousel swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Single item -->
						<div class="swiper-slide">
							<div class="testimonial-style-one">
								<div class="item">
									<div class="content">
										<div class="tm-review">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
										<div class="provider">
											<h4>Best Chicken Fry</h4>
										</div>
										<p>
											"Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
										</p>
										<div class="tm-proivder-thumb">
											<img src="~/source/assets/img/food/1.jpg" alt="Image Not Found">
											<img src="~/source/assets/img/team/10.jpg" alt="Image Not Found">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single item -->
						<!-- Single item -->
						<div class="swiper-slide">
							<div class="testimonial-style-one">
								<div class="item">
									<div class="content">
										<div class="tm-review">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
										</div>
										<div class="provider">
											<h4>This pizza is so good</h4>
										</div>
										<p>
											"Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
										</p>
										<div class="tm-proivder-thumb">
											<!--<img src="~/source/assets/img/food/6.jpg" alt="Image Not Found">-->
											<img src="~/source/assets/img/team/11.jpg" alt="Image Not Found">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single item -->
					</div>

				</div>
				<!-- Navigation -->
				<div class="testimonial-pagination">
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>