@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/UILayout/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

	<div class="radio-btn-light">
		<div class="radio-inner-light"></div>
	</div>

	<!-- End Preloader -->
	<!-- Start Breadcrumb
	============================================= -->
	<div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url(/source/assets/img/shape/11.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h1>About Us</h1>
					<ul class="breadcrumb">
						<li><a href="#"><i class="fas fa-home"></i> Home</a></li>
						<li>About</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->
	<!-- Start About
	============================================= -->
	<div class="about-style-one-area default-padding">
		<div class="container">
			<div class="row align-center">
				<div class="col-lg-6">
					<div class="thumb-style-one">
						<img class="wow fadeInUp" src="~/source/assets/img/about/1.jpg" alt="Image Not Found">
						<div class="contact-card-one wow fadeInLeft" data-wow-delay="200ms">
							<a href="tel:+4733378901">
								<div class="icon">
									<i class="fa fa-phone"></i>
								</div>
								<div class="info">
									<span>HOTLINE 24/7</span>
									<h4>+473337890</h4>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="about-style-one-info">
						<h4 class="sub-heading">Our Story</h4>
						<h2 class="title split-text">Until I discovered cooking I was never really interested in anything</h2>
						<div class="content mt-50">
							<p class="split-text">
								The first restaurant proprietor is believed to have been one A. Boulanger, a soup vendor, who opened his business in Paris in 1765. The sign above his door advertised restoratives, or restaurants, referring to the soups and broths available within.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	<!-- Start Fun Fact
	============================================= -->
	<div class="fun-fact-style-one-area default-padding">
		<div class="container">
			<div class="row align-center">
				<div class="col-lg-6">
					<div class="fun-fact-style-one-items">
						<h2 class="split-text">Experience of  real recipes taste</h2>
						<div class="fun-fact-style-one-content">
							<div class="fun-fact">
								<div class="counter">
									<div class="timer" data-to="98" data-speed="2000">98</div>
									<div class="operator">K</div>
								</div>
								<span class="medium">Daily Orders</span>
							</div>
							<div class="fun-fact">
								<div class="counter">
									<div class="timer" data-to="5" data-speed="2000">100</div>
									<div class="operator">+</div>
								</div>
								<span class="medium">Menu & Dish</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="thumb">
						<img class="wow fadeInRight" src="~/source/assets/img/illustration/16.png" alt="Image Not Found">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Fun Fact -->
	<!-- Start Testimonial
	============================================= -->
	<div class="testimonial-style-one-area default-padding text-center" style="background-image: url(~/source/img/shape/4.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="testimonial-style-one-carousel swiper">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Single item -->
							<div class="swiper-slide">
								<div class="testimonial-style-one">
									<div class="item">
										<div class="content">
											<div class="tm-review">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
											<div class="provider">
												<h4>Best Chicken Fry</h4>
											</div>
											<p>
												"Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
											</p>
											<div class="tm-proivder-thumb">
												<img src="~/source/assets/img/food/1.jpg" alt="Image Not Found">
												<img src="~/source/assets/img/team/10.jpg" alt="Image Not Found">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single item -->
							<!-- Single item -->
							<div class="swiper-slide">
								<div class="testimonial-style-one">
									<div class="item">
										<div class="content">
											<div class="tm-review">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
											</div>
											<div class="provider">
												<h4>This pizza is so good</h4>
											</div>
											<p>
												"Thanks to your web agency team for their professional work. The website they created for my business exceeded my expectations, and my clients have given positive feedback about its design and user-friendliness."
											</p>
											<div class="tm-proivder-thumb">
												<img src="~/source/assets/img/food/6.jpg" alt="Image Not Found">
												<img src="~/source/assets/img/team/11.jpg" alt="Image Not Found">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single item -->
						</div>

					</div>
					<!-- Navigation -->
					<div class="testimonial-pagination">
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Testimonial Area -->

</body>
</html>